.player-wrapper {
  display: flex;
  background-color: rgba(142, 102, 86, 0.25);
  border-radius: 4px;
}

.player-wrapper:hover {
  background-color: rgba(142, 102, 86, 0.6);
}

.player {
  height: 72px;
  width: 72px;
  border-radius: 4px;
  object-fit: cover;
}

.player-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
