.sessions-page {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  padding: 130px 20px 50px;
}

.sessions-page .npc {
  width: min-content;
}

.session {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 130px 20px 50px;
}

.session .frame01 {
  height: 100%;
  border: 1px solid;
  width: 100%;
  background-color: #271d27;
}

.session li {
  list-style: none;
}

.session em {
  padding-left: 20px;
}

.session h5 {
  margin-top: 16px;
  font-family: "MookManiaBold", "MookManiaBold Fallback";
  font-size: 18px;
  font-weight: 700;
}


.session-link a {
  text-decoration: underline;
  color: rgb(142, 102, 86);
}

.session-link a:hover {
  text-decoration: underline;
  color: rgb(142, 102, 86, 60%);
}
