body, main {
  color: #d5b69f;
  background-color: #2E232E;
}

* {
  line-height: 1 !important;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

div.text-lg {
  line-height: normal;
}

.corner {
  position: absolute;
}

.corner-top {
  position: absolute;
}

.scroll-custom::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgba(142, 102, 86, 0.2);
}

.scroll-custom::-webkit-scrollbar {
  width: 5px !important;;
  height: 5px;
  border-radius: 5px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #8e6656;
}

.list--item {
  background-color: rgba(142, 102, 86, 0.25);
  border-radius: 6px;
  align-items: center;
}

.list--item:hover {
  background-color: rgba(142, 102, 86, 0.6);
}

.button {
  background-image: url("/assets/button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button:hover {
  background-image: url("/assets/button-hover.svg");
}

img {
  max-width: -webkit-fill-available !important;
}


.header a:hover {
  color: #8e6656;
}

.header-top {
  background-color: rgba(39, 29, 39, 0.7);
}

ul {
  list-style-image: url("/assets/bullet.svg") !important;
  padding-left: 68px !important;
}

